/* *{
    border: 0;
    margin: 0;
} */

input, #result,h1 {
    margin: 1px;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem; 
    
}
/* #caixa{
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
} */
.nome{
    color:blueviolet;
    text-align: center;
    animation: piscapisca 1s infinite;

}

@keyframes piscapisca{
0% {color:rgb(31, 146, 31)}
33% {color:blue}
66%{color: yellow;}
100%{color:rgb(31, 146, 31)}
}

button {
    
    font-size: 2rem;
    margin: 3px;
}