/* *{
    border: 0;
    margin: 0;
} */

input, #result,h1 {
    margin: 1px;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem; 
    
}
/* #caixa{
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
} */
.nome{
    color:black;
    text-align: center;
    animation: piscapisca 0.25s infinite;

}

@keyframes piscapisca{
0% {color:red}
14% {color:orange}
28%{color: yellow;}
42%{color:rgb(31, 146, 31)}
56%{color: blue}
70%{color: purple;}
100%{color: red;}
}

button {
    
    font-size: 2rem;
    margin: 3px;
}